@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;900&display=swap");

.App {
  text-align: center;
}

.spacer {
  height: 8rem;
  width: 100%;
}

.roboto-large {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}

.roboto-category {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#brand a {
  font-family: "Bebas Neue", cursive;
  color: #cc0808;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: left;
  text-decoration: none;
}

#navbar {
  font-family: "Bebas Neue", cursive;
  color: #f7eeee;
}

.navbar-nav a {
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 0.8rem;
}

#hero {
  background-image: url(./images/hero-tejasvi.jpg);
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 0;
}

#hero .hero-body {
  width: 100%;
  text-align: left;
  z-index: 1;
  position: relative;
}

#search {
  border-radius: 20px;
  display: flex;
  padding: 0.4rem 1.2rem;
}

#join {
  border-radius: 20px;
  margin: 10px;
  display: flex;
  padding: 0.4rem 1.2rem;
  align-items: center;
}

.btn.btn-primary {
  border-radius: 40px !important;
  margin: 10px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 1.2rem !important;
}

.search-input {
  height: auto;
  padding: 1rem;
  height: 2.4rem;
  border-radius: 40px !important;
  border: none !important;
}

.btn.btn-secondary {
  border-radius: 40px !important;
  margin: 10px !important;
  display: flex !important;
  justify-content: center !important;
  padding: 0.4rem 1.2rem !important;
  align-items: center;
}

.btn.btn-danger {
  border-radius: 40px !important;
  margin: 10px !important;
  display: flex !important;
  justify-content: center !important;
  padding: 0.4rem 1.2rem !important;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.movieImages {
  width: 90%;
  /* object-fit: fill;
  display: flex; */
  margin-top: 10%;
  margin-bottom: 10%;
  box-shadow: 1px 1px 1px black;
}

.movieDetailsImages {
  width: 100%;
  /* object-fit: fill;
  display: flex; */
  margin-top: 2%;
  margin-bottom: 4%;
  box-shadow: 1px 1px 1px black;
}

.movieInfoColumn {
  display: grid;
  align-content: center;
}

#movieInfoButtons {
  display: flex;
  align-content: center;
  padding: 1rem;
  justify-content: space-evenly;
}

.movieListTitle {
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(16px + 2vmin);
  color: white;
}

.movieListTitleRow {
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.listTitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

footer {
  background-color: #1e1e1e;
  padding: 3rem 1rem 1rem;
}

footer .logo {
  font-family: "Bebas Neue", cursive;
  color: #cc0808;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: left;
}

footer .nav .nav-item {
  text-align: left;
}

footer .nav .nav-item a {
  color: #ccc;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
}

.video-covers {
  width: 100%;
  height: auto;
  transition: 0.7s transform;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.2);
}

.video-covers:hover {
  transform: scale(1.05);
}

.video-wrappers {
  margin: 1rem;
  padding: 0;
  overflow: hidden;
  object-fit: contain;
  height: 100%;
}

form {
  align-items: center;
}

.form-label {
  width: 100%;
  text-align: left;
}

.sticky {
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  z-index: 99;
}

.scrolled {
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
}

.videos-form-wrapper {
  background-color: white;
  border-radius: 15px;
}

@media only screen and (max-width: 1600px) {
  #hero {
    height: 60vh;
  }
}

@media only screen and (max-width: 1024px) {
  #hero {
    height: 45vh;
  }
}

@media only screen and (max-width: 728px) {
  #hero {
    height: 35vh;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
